.title{
    color: #02ccba;
    font-size: 100px;
    margin: 20px 20px 15px 500px;
    padding: 0 auto;
}

p{
    font-size: 30px;
    margin-left: 700px;
}

.day1208{
    text-align: center;
}

.todo1209{
    text-align: center;
}

.day1209{
    text-align: center;
}

.todo1210{
    text-align: center;
}

.day1210{
    text-align: center;
}

.todo1211{
    text-align: center;
}
